* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
.login {
    width: 30%;
    margin: 0px auto;
}
.login h1 {
    text-align: center;
    margin-top: 10%;
    color:white;
    margin-bottom: 5%;    
}
ul.tab {
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow:hidden;
    border: 1px solid #ccc;
    background: #3399cc;
}

li a {
    float: left;
    width:50%;
    display: block;
    border: 1px solid #230303;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color:white;
    font-size: 20px;
}
li a:hover {
    background-color: #01a5f7;
}
li a:focus, .active {
    background-color: #01a5f7;
}
form {
    padding: 6% 4%;
    background: #f0f0f0;
}
input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
    width:100%;
    margin-bottom: 4%;
    padding: 3%;
}
input[type="submit"] {
    width: 100%;
    border: 0px;
    padding: 4%;
    margin-bottom: 4%;
    cursor: pointer;
    background: #3399cc;
}


@media only screen and (max-width: 720px){
    .login {
        width: 62%;
        margin: 0px auto 50px;
    }
}
@media only screen and (max-width: 640px){
    .login {
        width: 65%;
        margin: 0px auto 50px;
    }
}
@media only screen and (max-width: 480px){
    .login {
        width: 65%;
        margin: 0px auto 50px;
    }
    .login h1 {
        text-align: center;
        margin-top: 8%;
    }
}
@media only screen and (max-width: 320px){
    .login {
        width: 70%;
    }
}